body {
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.chartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

h1 {
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#map {
    height: 600px;
    width: 50%;
}

.chart {
    width: 40%;
    max-width: 500px;
    height: auto;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    border: 2px solid #8d33f380;
    box-shadow: 0 4px 8px 0 rgba(204, 20, 255, 0.129), 0 6px 20px 0 rgba(204, 20, 255, 0.129);
    box-sizing: border-box;
}

nav {
    background-color: #040D12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav-right {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-right: 1rem;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: #ccc;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
    .chart {
        width: 90%;
        margin: 10px auto;
    }
    .chartContainer {
        justify-content: center;
        max-width: 100%;
    }
    h1 {
        margin-left: 0;
        text-align: center;
    }
    .nav-right {
        display: none;
    }
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .navbar-nav li {
        margin: 0.5rem 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        align-content: space-around;
        flex-direction: column;
        align-items: baseline;
    }
    #map {
        width: 100%;
    }
}